@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

.tilt {
  display: block;
  height: 500px;
  width: 1000px;
  background-color: grey;
  margin: 100px auto;
  transition: box-shadow 0.1s, transform 0.1s;
  background-image: url(http://unsplash.it/300/200);
  background-size: 300px 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.tilt:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
  cursor: pointer;
}

